body{
	background-color: grey;
}

h1{
	display: flex;
	max-width: 900px
}

.center{
	text-align: center;
}

.box{
	width: 200px;
	height: 200px;
	background-color: blue;
	color: white;
	font-size: 20px;

	float: left;
	margin: 6px;
}

.wrapper{
	width: 850px;
	background-color: black;

}

.container{
	width: 800px;
	/*no height? The height should be determined by the content*/
	background-color: #B2675E;
	margin:0 auto;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height:0;
	clear:both;
}